{% extends "layout.html.twig" %}
{% block content %}
    <a href="/">
        <h1>
            Homepage
        </h1>
    </a>
    <h1>Confirmation</h1>
    <p>Voce fez a compra muito obrigado pela atenção</p>
    {% endblock %}
